@import "components/MessageBoardApp.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding-top: 10vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: sans-serif;
}

p {
  margin: 0;
}

input[type="text"] {
  font-size: 1rem;
  border: 0;
  padding: 0.4rem 0.65rem;
  border-radius: 5px;
}

button {
  font-size: 1rem;
  padding: 0.35rem 10px;
  color: hsl(217, 16%, 91%);
  border: 1px solid hsl(217, 66%, 21%);
  border: 0;
  border-radius: 5px;
  background-color: hsl(217, 96%, 51%);
}
