message-board-comment-item {
  position: relative;

  border-bottom: 1px solid hsl(217, 50%, 20%);
  padding: 1rem 20px;

  transition: background-color 150ms;
}

message-board-comment-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

message-board-comment-item .delete-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 350ms;
}

message-board-comment-item:hover .delete-button {
  opacity: 1;
}
